@charset "utf-8";
/* CSS Document */
.div1 {
	width: 90%;
	height: 650px;
	float: right;
}

.div2 {
	width: 650px;
	height: 650px;
	margin-right: -670px;
	margin-top: -260px;
	float: right;
	border: 1px solid #E6E6FA;
}

.upfilebox {
	position: relative;
}

.upfilebox input {
	width: 200px;
	height: 45px;
	position: relative;
	z-index: 9;
	opacity: 0;
	
}

.upfilebox label {
	position: absolute;
	background: #FF6347 ;
	display: inline-block;
	color: white;
	width: 130px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	left: 85px;
	border-radius:30px 30px 30px 30px;
}

a {
	text-decoration: none;
	color: #999;
}

.sth {
	width: 170px;
	height: 40px;
	background-color: white;
	color:black;
	margin-top: 200px;
	margin-left:-70px;
	border-radius:30px 30px 30px 30px;
	cursor:pointer;
	border: 1px solid #4CAF50;
}
.sth:hover {
    background-color: #4CAF50;
    color: white;
}